.form {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100%;
    background-color: #e5771f;
    padding: 0 100px;
}

.form .formContent {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 2.4rem;
    font-family: sans-serif;
}

.form .formContent h3 {
    font-size: 25px;
    color: rgba(45, 44, 44, 0.884);
}

.form .formContent select {
    border: none;
    background-color: bisque;
    font-weight: bold;
    font-size: 20px;
    border-radius: 8px;
    outline: none;
    padding: 10px 25px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.form .formContent input {
    border: none;
    font-weight: bold;
    font-size: 20px;
    border-radius: 8px;
    outline: none;
    padding: 10px 25px;
    background-color: bisque;
}